<!DOCTYPE html>
<html>
  <head>
    <title>Flix on Rails 6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to image_tag("logo"), root_path %>
        <ul>
          <li>
            <%= link_to "All Movies", root_path %>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      Copyright &copy 2016-<%= Time.now.year %>. Flix on Rails 6. All Rights Reserved.
    </footer>
  </body>
</html>
